---
import FooterPosts from "./footer/FooterPosts.astro";
import ShareBlock from "./footer/ShareBlock.astro";
---

<footer
  class="container max-w-4xl py-8 mx-auto mt-16 mb-8 border-t border-b border-gray-200 dark:border-gray-700 md:px-0"
>
  <div class="flex px-6 md:space-x-24">
    <FooterPosts/>
    <ShareBlock/>
  </div>
</footer>
