<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="{% if description %}{{ description }} {% else %} {{ site.description }} {% endif %}" />
  <meta name="robots" content="index, follow" />
  <meta name="google" content="notranslate">
  <title>{% if title %} {{ title }} {% else %} {{ site.title }} {% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="author" href="{{ site.url }}" />

  <!-- Open Graph meta -->
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description"
    content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  {% if site.social_meta.featured_image or featured_image %}
  <meta property="og:image"
    content="{% if featured_image  %}{{ featured_image }}{% else %}{{ site.social_meta.featured_image }}{% endif %}" />
  {% endif %}
  <meta name="twitter:card"
    content="{% if description %}{{ description }}{% else %}{{ site.social_meta.description }}{% endif %}" />
  {% if site.social_meta.twitter %}
  <meta name="twitter:site" content="{{ site.social_meta.twitter }}" />
  <meta name="twitter:creator" content="{{ site.social_meta.twitter }}" />
  {% endif %}

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- end favicon -->

  <!-- bulma -->
  {% if site.isDev %}
  <link rel="stylesheet" href="/assets/css/bulma.css">
  {% endif %}

  <link rel="preload" as="style" href="/assets/css/style.css">
  <link rel="preload" as="style" href="/assets/css/code.css">

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/code.css" lazyload>

  <!-- app.js -->
  {% capture appJs %}
  {% include scripts/app.ts %}
  {% include scripts/lite-yt-embed.ts %}
  {% endcapture %}
  <script>{{ appJs | ts | jsmin | safe }}</script>
  <!-- /app.js -->

  <script defer src="/assets/js/quicklink.umd.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      if (quicklink) {
        quicklink.listen({ timeout: 1000 });
      }
    });
  </script>

  <!-- analitycs   -->
  <meta name="yandex-verification" content="site.seo.yandexVerification" />
  <meta name="google-site-verification" content="site.seo.googleVerification" />
</head>

<body>
  <div>
    {% include partials/header.html %}
    {% include partials/container.html %}
    {% include partials/footer.html %}
  </div>

  <script>
    window.addEventListener('load', () => {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
      }
    });
  </script>
</body>

</html>
