<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{% if description %}{{ description }} {% else %} {{ site.description }} {% endif %}" />
  <meta name="robots" content="index, follow" />
  <meta name="google" content="notranslate">
  <title>{% if title %} {{ title }} {% else %} {{ site.title }} {% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link rel="author" href="{{ site.url }}" />

  <!-- Open Graph meta -->
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  {% if site.social_meta.featured_image or featured_image %}
  <meta property="og:image" content="{% if featured_image  %}{{ featured_image }}{% else %}{{ site.social_meta.featured_image }}{% endif %}" />
  {% endif %}
  <meta name="twitter:card" content="{% if description %}{{ description }}{% else %}{{ site.social_meta.description }}{% endif %}" />
  {% if site.social_meta.twitter %}
  <meta name="twitter:site" content="{{ site.social_meta.twitter }}" />
  <meta name="twitter:creator" content="{{ site.social_meta.twitter }}" />
  {% endif %}

  <!-- bulma -->
  <link rel="stylesheet" href="/assets/css/bulma.css">
  <!-- code.css -->
  {% capture cssCode %}
  {% include stylesheets/code.css %}
  {% include stylesheets/code-add.css %}
  {% endcapture %}
  <style>{{ cssCode | cssmin | safe }}</style>
  <!-- /code.css -->
</head>

<body>

  {{ site }}

  <div>
    {% include partials/header.html %}
    {% include partials/container.html %}
    {% include partials/footer.html %}
  </div>

  <!-- app.js -->
  {% capture appJs %}
  {% include scripts/app.ts %}
  {% endcapture %}
  <script>{{ appJs | ts | jsmin | safe }}</script>
  <!-- /app.js -->

</body>

</html>
