---
import Layout, { LayoutProps } from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";

import type { SeoProps } from "../components/seo/SEO.astro";

const seo: SeoProps = {
  title: "AVIL13",
  description: "блог о разработке и программировании",
};

const hero: LayoutProps['hero'] = {
  src: '/images/graph/blog/ciber-ninja.webp',
  alt: 'hero image',
};
---

<Layout seo={seo} hero={hero}>
  <h1>Сайт «AVIL13»</h1>

  <p>Это главная страница сайта web разработчика.</p>

  <p>Как обычно здесь нет ничего определённо полезного, но без неё ни как.</p>

  <p>
    То ради чего создавался этот сайт, находится внутри, но то, насколько это
    важно, зависит только от Тебя…
  </p>

  <hr />

  <PostsList />
</Layout>
