<!-- START NAV -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        AVIL13.com
      </a>
      <a id="burger-button" class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <a href="/" class="navbar-item is-size-5 has-text-weight-semibold">
          Главная
        </a>
        <a href="/blog/" class="navbar-item is-size-5 has-text-weight-semibold">
          Блог
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->
{% if imgBg %}
<div style="background-image: url({{- imgBg -}});" class="column is-8 is-offset-2 main-image--box"></div>
{% endif %}
